<html>

head
    <script type="text/javascript" src="js/lib/Chart.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/charts.js"></script>
    <link rel="stylesheet" type="text/css" href="css/app.css">

body

    <h1>Memcached Stats Interface</h1>

    </html>